.form-title {
  padding-left: 0%;
}

.form-view {
  margin: 0%;
  padding: 5%;
}

.container-view {
  padding: 10%;
}

.label-view {
    margin-top: 1%;
}

.contact-col-back {
  background-color: rgb(3, 70, 135);
  padding: 5%;
}