.sheridan {
    height: auto;
    width: 50%;
    border-radius: 5%;
    float: right;
    padding: 1%;
    opacity: 75%;
}

.home-row {
    margin-top: 2%;
    margin-bottom: 1%;
}

.header-title {
    margin-top: 1%;
    margin-bottom: 1%;
}

.home-col-back {
    background-color: rgb(3, 70, 135);
    padding: 1.5%;
}